@font-face {
  font-family: 'Aino';
  src: url('../assets/fonts/Aino-Bold.woff2') format('woff2'),
    url('../assets/fonts/Aino-Bold.woff') format('woff'),
    url('../assets/fonts/Aino-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aino';
  src: url('../assets/fonts/Aino-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Aino-BoldItalic.woff') format('woff'),
    url('../assets/fonts/Aino-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aino';
  src: url('../assets/fonts/Aino-Headline.woff2') format('woff2'),
    url('../assets/fonts/Aino-Headline.woff') format('woff'),
    url('../assets/fonts/Aino-Headline.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Aino';
  src: url('../assets/fonts/Aino-Italic.woff2') format('woff2'),
    url('../assets/fonts/Aino-Italic.woff') format('woff'),
    url('../assets/fonts/Aino-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aino';
  src: url('../assets/fonts/Aino-Regular.woff2') format('woff2'),
    url('../assets/fonts/Aino-Regular.woff') format('woff'),
    url('../assets/fonts/Aino-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
/* SFFourche Font Family */
@font-face {
  font-family: 'SFFourche';
  src: url('../assets/fonts/SFFourche.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFFourche';
  src: url('../assets/fonts/SFFourcheBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SFFourche';
  src: url('../assets/fonts/SFFourcheBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SFFourche';
  src: url('../assets/fonts/SFFourcheCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFFourche';
  src: url('../assets/fonts/SFFourcheCondensedItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SFFourche';
  src: url('../assets/fonts/SFFourcheItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SFFourche';
  src: url('../assets/fonts/SFFourcheSC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFFourche';
  src: url('../assets/fonts/SFFourcheSCItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
