/* Footer.css */
.footer-container {
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-family: 'Aino', sans-serif;
    font-weight: 300;

    background: #F7F4F2;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section h3 {
    color: #232366;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s;
}

.footer-links a:hover {
    color: none;
}

.bottom-footer {
    max-width: 1200px;
    margin: 30px auto 0;
    padding: 20px 20px 0;
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #666;
}

.bottom-footer-links a {
    color: #666;
    text-decoration: none;
    margin-left: 20px;
}

.bottom-footer-links a:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .bottom-footer-3 {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-section {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
    }

    .bottom-footer {
        flex-direction: column;
        text-align: center;
    }

    .bottom-footer-links {
        margin-top: 15px;
    }

    .bottom-footer-links a {
        display: block;
        margin: 10px 0;
    }
}


.bottom-footer-3 {
    max-width: 1500px;
    margin: 30px auto 0;


    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #666;
}

.bottom-footer-links-3 a {
    color: #666;
    text-decoration: none;
    margin-left: 20px;
}

.bottom-footer-links-3 a:hover {
    color: #0056b3;
}

.svg-icons {
    display: flex;
    gap: 10px;
}